.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inline-header {
	display: inline-block;
	margin-right: 8px;
	margin-left: 8px;
}

.no-bottom-margin {
	margin-bottom: 0px;
}

.small-bottom-margin {
	margin-bottom: 4px;
}

.small-top-margin {
	margin-top: 4px;
}

.align-top {
	vertical-align: top;
}

.expenses {
	background-color: lightblue;
	display: inline-block;
	vertical-align: top;
}

.income {
	background-color: #ffffff39;
	display: inline-block;
	vertical-align: top;
}

.loans {
	background-color: mistyrose;
	display: inline-block;
	vertical-align: top;
}

.loans-item {
	background-color: #ffefef;
	padding: 8px;
}

.loans-summary {
	padding: 4px;
	border: 2px solid #00000077;
}

.flex {
	display: flex;
}

.inline-block {
	display: inline-block;
}

.float-right {
	float: right;
}

.right-margin {
	margin: 0 8px 0 0;
}

.btn {
	min-height: 24px;
	min-width: 24px;
	border: 2px hidden #00000022;
	background-color: #ffffff77;
	border-radius: 0px;
}

.btn:hover {
	background-color: #00000039;
	cursor: pointer;
}

.btn-grey {
	background-color: #aaaaaaff;
}

.btn-red {
	background-color: ffffff77;
}

.btn-red:hover {
	background-color: lightcoral;
}

.input-text {
	width: 200px;
	min-height: 30px;
	font-size: medium;
	background-color: transparent;
	border: 2px solid #00000044;
	border-style: hidden hidden solid hidden;
	padding: 0px 4px;
	margin: 4px 0 0 4px;
}

.input-number {
	background-color: transparent;
	border: 2px solid #00000044;
	border-style: hidden hidden solid hidden;
	font-size: medium;
	padding: 0px 4px;
	margin: 0 4px 0 0;
	width: 80px;
	min-height: 30px;
	text-align: right;
}

.input-150 {
	width: 150px;
}

.input-100 {
	width: 100px;
}

.input-80 {
	width: 80px;
}

.input-50 {
	width: 50px;
}

.input-text:focus, .input-number:focus {
	outline: 0px solid;
	background-color: #ffffff77;
}

.expenses-group {
	margin: 0 8px;
}

.expense-dollar {
	margin: 0 0 0 8px;
}

.expense-total-container {
	min-height: 30px;
	margin: 8px 0 0 0;
	text-align: right;
}

.expense-sub-total {
	line-height: 30px;
	display: inline-block;
	background-color: #f0808039;
	border: 2px solid #000000bb;
	border-style: hidden hidden solid hidden;
	font-size: medium;
	width: 40%;
	height: 30px;
	padding: 0px 4px;
}

.income-sub-total {
	line-height: 30px;
	display: inline-block;
	background-color: #8fbc8f77;
	border: 2px solid #000000bb;
	border-style: hidden hidden solid hidden;
	font-size: medium;
	width: 40%;
	height: 30px;
	padding: 0px 4px;
}

.expense-total {
	line-height: 30px;
	display: inline-block;
	background-color: transparent;
	border: 2px solid #000000bb;
	border-style: hidden hidden solid hidden;
	font-size: medium;
	min-width: 200px;
	height: 30px;
	padding: 0px 4px;
	margin: 0 8px 0 0;
}

.expense-total-positive {
	background-color: #8fbc8f77;
}

.expense-total-negative {
	background-color: #f0808039;
}

.loan-line {
	width: 100%;
	min-height: 30px;
	display: table;
}

.loan-right {
	display: table-cell;
	text-align: right;
}
